@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.font-bree {
    font-family: 'Bree Serif', serif;
  }
  :root {
    --custom-blue: #00174B;
    --custom-light-blue: #EEF0FF;
  }